@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Heritage Custom Masonry</h1>
    <p class="lead">With over 21 years experience from Commerical to Residental. I specialize in custom homes, fireplaces, mailboxes, retaining walls, paver paths. I'll cater to your needs. New Construction and Repairs.</p>
    <p><a href="" class="btn btn-primary btn-large">I also offer free estimates. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brick Swatch Gallery</h2>
        <p>
            I have compiled an extensive collection of material panels for Beehive Brick, 
            General Shale, Robinson Brick Company, Interpace Brick, Interstate Brick, Boral, 
            Acme, and Belden Brick companies.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Brick")" title="View Gallery">View Gallery &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Masonry Portfolio</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="">View Gallery &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rock Swatch Gallery</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="">View Gallery &raquo;</a></p>
    </div>
</div>