@{
    ViewBag.Title = "Entryway - Portfolio";
}

<section class="row">
    <div class="col-md-12">
        <h1>Entryway</h1>
        <div class="breadcrumb">You are here: <a href="@Url.Action("Index","Home")" title="View Home">Home</a> / <a href="@Url.Action("Index","Portfolio")" title="View Portfolio">Portfolio</a> / Entryway</div>
    </div>
</section>

<section class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rock columns, with brick archway.</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <img class="thumbnail" alt="Entryway 1 Large" src="~/Content/Images/Portfolio/Entryway/entryway_1_large.jpg" style="max-width:100%;">
                </div>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rock pillar with brick ledge.</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <img class="thumbnail" alt="entryway 2 large" src="~/Content/Images/Portfolio/Entryway/entryway_2_large.jpg" style="max-width:100%;">
                </div>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rock entryway, brick columns.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_3_large" src="~/Content/Images/Portfolio/Entryway/entryway_3_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stone veneer column, brick entry.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_4_large" src="~/Content/Images/Portfolio/Entryway/entryway_4_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick entry.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_5_large" src="~/Content/Images/Portfolio/Entryway/entryway_5_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Red brick porch.</h3>
            </div>
            <div class="panel-body">
                <img alt="entryway_6_large" src="~/Content/Images/Portfolio/Entryway/entryway_6_large.jpg"  style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick arch, column, and step.</h3>
            </div>
            <div class="panel-body">
                    <img alt="entryway_7_large" src="~/Content/Images/Portfolio/Entryway/entryway_7_large.jpg"  style="max-width:100%;">
                
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick entryway.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_14_large" src="~/Content/Images/Portfolio/Entryway/entryway_14_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick pillar, rock entry way, ribbon window arch.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_12_large" src="~/Content/Images/Portfolio/Entryway/entryway_12_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick entryway</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_10_large" src="~/Content/Images/Portfolio/Entryway/entryway_10_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Wood door with red brick.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_11_large" src="~/Content/Images/Portfolio/Entryway/entryway_11_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Red brick on porch.</h3>
            </div>
            <div class="panel-body">
                <img alt="entryway_9_large" src="~/Content/Images/Portfolio/Entryway/entryway_9_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>   
</section>
<section class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Veneer entryway.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_13_large" src="~/Content/Images/Portfolio/Entryway/entryway_13_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick wrap around porch.</h3>
            </div>
            <div class="panel-body">
                <img alt="entryway_8_large" src="~/Content/Images/Portfolio/Entryway/entryway_8_large.jpg" style="max-width:100%;">

            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Double ribbon brick door.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="entryway_15_large" src="~/Content/Images/Portfolio/Entryway/entryway_15_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</section>

@*<section class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
    </section>*@