@{
    ViewBag.Title = "House - Portfolio";
}

<section class="row">
    <div class="col-md-12">
        <h1>House</h1>
        <div class="breadcrumb">You are here: <a href="@Url.Action("Index","Home")" title="View Home">Home</a> / <a href="@Url.Action("Index","Portfolio")" title="View Portfolio">Portfolio</a> / House</div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rock with soldier course.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_1_large" src="~/Content/Images/Portfolio/House/house_1_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Red brick home</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_2_large" src="~/Content/Images/Portfolio/House/house_2_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick house with soldier course.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_3_large" src="~/Content/Images/Portfolio/House/house_3_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick home.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_4_large" src="~/Content/Images/Portfolio/House/house_4_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pink brick house.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_5_large" src="~/Content/Images/Portfolio/House/house_5_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Red brick house.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_6_large" src="~/Content/Images/Portfolio/House/house_6_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_7_large" src="~/Content/Images/Portfolio/House/house_7_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick and stone veneer</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_8_large" src="~/Content/Images/Portfolio/House/house_8_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick and stone</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_9_large" src="~/Content/Images/Portfolio/House/house_9_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_10_large" src="~/Content/Images/Portfolio/House/house_10_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_11_large" src="~/Content/Images/Portfolio/House/house_11_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_12_large" src="~/Content/Images/Portfolio/House/house_12_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stone Veneer</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_13_large" src="~/Content/Images/Portfolio/House/house_13_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_14_large" src="~/Content/Images/Portfolio/House/house_14_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_15_large" src="~/Content/Images/Portfolio/House/house_15_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Brick home office and sign.</h3>
            </div>
            <div class="panel-body">
                <img class="thumbnail" alt="house_16_large" src="~/Content/Images/Portfolio/House/house_16_large.jpg" style="max-width:100%;">
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</section>